<div class="container">
    <div class="page-header">
        <h1>Angular Data Sharing Controllers Example</h1>
        <h2>Second Controller</h2>
    </div>
    <div>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="" ng-model="second.sharedData.data">
                <hr>
                {{second.sharedData.data}}
            </div>
            <button type="button" class="btn btn-primary" ui-sref="first">Go To First Controller</button>
        </form>
    </div>
</div>
